"use strict";

if ( typeof module === 'object' ) {
	module.exports = {
		parsoidServer: "http://localhost:8000",
		stylesYamlFile: "<full-path-to-visual-diff-repo>/styles.yaml",
		viewportWidth: 1920,
		viewportHeight: 1080,
		dumpParsoidHTML: false,
		wiki: "enwiki",
		title: "Main_Page",
		filePrefix: null,
		quiet: true,
		outdir: "pngs",
		// resemblejs options
		errorType: "movement", // Better error display for making sense of diffs
		largeImageThreshold: 0 // Cleaner diff without the skipped pixels grid
	};
}
