"use strict";

if (typeof module === 'object') {
	module.exports = {
		stylesYamlFile: "<full-path-to-visual-diff-repo>/styles.yaml",
		viewportWidth: 1920,
		viewportHeight: 1080,

		wiki: "enwiki",
		title: "Main_Page",
		filePrefix: null,
		quiet: true,
		outdir: "pngs",

		// HTML1 generator options
		html1: {
			name: 'php',
			dumpHTML: false,
			postprocessorScript: "../lib/php_parser.postprocess.js",
			injectJQuery: false,
		},
		// HTML2 generator options
		html2: {
			name: 'parsoid',
			server: 'http://localhost:8000',
			dumpHTML: false,
			postprocessorScript: "../lib/parsoid.postprocess.js",
			injectJQuery: true,
		},
		// resemblejs options
		outputSettings: {
			errorType: "movement", // Better error display for making sense of diffs
			largeImageThreshold: 0 // Cleaner diff without the skipped pixels grid
		},
	};
}
